/* CSS untuk desain responsif */
body {
    margin: 0;
    padding: 0;
    font-family: 'Chewy', cursive; /* Menggunakan font Chewy */
    background-color: #f7f7f7; /* Warna latar belakang */
}

.container {
    width: 90%; /* Lebar kontainer responsif */
    margin: 0 auto; /* Pusatkan kontainer di tengah */
    padding: 20px; /* Tambahkan padding untuk memisahkan konten dari tepi layar */
}

.title {
    color: #ff69b4;
    font-size: 3em;
    margin-bottom: 20px;
    font-size: 2.5vw; /* Ukuran font responsif */
}

.message {
    color: #555;
    font-size: 1.2em;
    margin: 20px 0;
    font-size: 1.2vw; /* Ukuran font responsif */
}

.gifs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px 0;
}

.gifs img {
    width: 30%; /* Ukuran gambar responsif */
    max-width: 150px; /* Batasi lebar gambar */
    border-radius: 15px;
    transition: transform 0.3s;
}

.gifs img:hover {
    transform: scale(1.1);
}

button {
    background-color: #ff69b4;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1em;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
    font-size: 1.2vw; /* Ukuran font responsif */
    padding: 1vw 2vw; /* Padding responsif */
}

button:hover {
    background-color: #ff1493;
}

.hidden {
    display: none;
}

#specialMessage {
    margin-top: 30px;
}

#specialMessage img {
    width: 100%; /* Gambar responsif */
    max-width: 300px; /* Batasi lebar gambar */
    border-radius: 15px;
    margin-top: 20px;
}
